--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
# for extra data
gitpython==3.1.24

# for pure execution
#scipy==1.7.3
scipy
cython==0.29.26
cudra==0.0.4b
torch==1.10.2+cu113
torchvision==0.11.3+cu113
git+https://github.com/phoenixsite/robustbench.git
easydict==1.9

# for parameter
pyyaml==6.0
attrdict==2.0.1

# for logging
colorlog==6.6.0

# for visualization
matplotlib==3.5.3

setuptools